# Credentials
APP_USERNAME=admin
APP_PASSWORD_HASH=

# Genereer een hash met:
# docker run --rm php:8.2-cli php -r "echo password_hash('jouwwachtwoord', PASSWORD_BCRYPT);"

# Netwerk
TARGET_MAC=00:00:00:00:00:00
TARGET_IP=192.168.0.1
BROADCAST_IP=192.168.0.255
